<meta property="og:title" content="Russian warship, go fuck yourself!">
<meta property="og:type" content="article">
<meta property="og:url" content="https://rwfy.gitlab.io/">
<meta property="og:site_name" content="Republik">
<meta property="og:description" content="Russian President Vladimir Putin has achieved at least one goal: a new world order. The battle of the systems is back. And it's time to choose the camp.">
<meta property="og:image" content="https://cdn.repub.ch/s3/republik-assets/repos/republik/article-endlich-zurueck-kalter-krieg/images/ca32e6192a1f44c89d3931c719488fa8a2b77e54.jpeg?size=1800x1800&amp;format=auto">
<meta property="og:image:alt" content="Putin">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1800">
<meta property="og:image:height" content="1800">
<meta property="article:publisher" content="https://www.facebook.com/RepublikMagazin/">
<meta property="article:author" content="https://www.facebook.com/constantin.seibt/">
<meta property="article:tag" content="Ukraine">
<meta property="article:tag" content="Putin">
<meta property="article:tag" content="war">
<meta property="article:tag" content="invasion">
<meta property="article:published_time" content="2022-04-14T05:00:00+0200">
<meta name=twitter:card content="summary_large_image">
<meta name=twitter:site content="@RepublikMagazin">
<meta name=twitter:title content="Russian warship, go fuck yourself!">
<meta name=twitter:image content="https://cdn.repub.ch/s3/republik-assets/repos/republik/article-endlich-zurueck-kalter-krieg/images/ca32e6192a1f44c89d3931c719488fa8a2b77e54.jpeg?size=1800x1800&amp;format=auto">
<meta name=twitter:description content="Russian President Vladimir Putin has achieved at least one goal: a new world order. The battle of the systems is back. And it's time to choose the camp.">
<meta name=twitter:creator content="@ConstSeibt">

<script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"rwfy",utcoffset:"0"}))};sessionStorage.setItem("_swa","1");</script>
